pipeline/Serverless/state_machines/02_pipeline.yml
name: ${self:custom.pipelineName}
definition:
  Comment: "Check, Build, and Deploy Lambda Layer"
  StartAt: Check
  States:
    Check:
      Type: Task
      Resource:
        Fn::GetAtt: [CheckLambdaFunction, Arn]
      Next: ChoicePythonVersion
      Retry:
        - ErrorEquals:
          - States.Timeout
          MaxAttempts: 2
          BackoffRate: 30
          IntervalSeconds: 60
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: CheckFail
    ChoicePythonVersion:
      Type: Choice
      Choices:
        - Variable: $.python_version
          StringEquals: "p3.9"
          Next: Build39
        - Variable: $.python_version
          StringEquals: "p3.8"
          Next: Build38
      Default: UnknownPythonVersion
    Build38:
      Type: Task
      Resource:
        Fn::GetAtt: [BuildLambdaFunction, Arn]
      Next: Deploy
      Retry:
        - ErrorEquals:
          - States.Timeout
          MaxAttempts: 2
          BackoffRate: 30
          IntervalSeconds: 60
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: Build38Fail
    Build39:
      Type: Task
      Resource:
        Fn::GetAtt: [Build39LambdaFunction, Arn]
      Next: Deploy
      Retry:
        - ErrorEquals:
          - States.Timeout
          MaxAttempts: 5
          BackoffRate: 45
          IntervalSeconds: 60
        - ErrorEquals:
          - Lambda.AWSLambdaException
          MaxAttempts: 5
          BackoffRate: 45
          IntervalSeconds: 60
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: Build39Fail
    Deploy:
      Type: Task
      Resource:
        Fn::GetAtt: [DeployLambdaFunction, Arn]
      Next: Done
      Retry:
        - ErrorEquals:
          - States.Timeout
          MaxAttempts: 2
          BackoffRate: 30
          IntervalSeconds: 60
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: DeployFail
    Done:
      Type: Succeed
    CheckFail:
      Type: Fail
      Error: CheckFailure
      Cause: Unknown
    Build38Fail:
      Type: Fail
      Error: BuildFailure
      Cause: Unknown
    Build39Fail:
      Type: Fail
      Error: BuildFailure
      Cause: Unknown
    DeployFail:
      Type: Fail
      Error: DeployFailure
      Cause: Unknown
    UnknownPythonVersion:
      Type: Fail
      Error: UnknownPythonVersion
      Cause: UnknownPythonVersion
notifications:
  ABORTED:
    - lambda:
        Fn::GetAtt: [SlackUnderscorepipelineLambdaFunction, Arn]
  FAILED:
    - lambda:
        Fn::GetAtt: [SlackUnderscorepipelineLambdaFunction, Arn]
  TIMED_OUT:
    - lambda:
        Fn::GetAtt: [SlackUnderscorepipelineLambdaFunction, Arn]
events:
- eventBridge:
    event:
      source:
        - Klayers.invoke.${self:provider.stage}
      detail-type:
        - "invoke_pipeline"