pipeline/Serverless/state_machines/02_pipeline.yml
name: ${self:custom.pipelineName}
definition:
  Comment: "Check, Build, and Deploy Lambda Layer"
  StartAt: RandomDelay
  States:
    RandomDelay:
      Type: Wait
      SecondsPath: $.detail.secondsDelay
      Next: Check
    Check:
      Type: Task
      Resource:
        Fn::GetAtt: [CheckLambdaFunction, Arn]
      Next: ChoicePythonVersion
      Retry:
        - ErrorEquals:
          - States.Timeout
          - Lambda.ClientExecutionTimeoutException
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.TooManyRequestsException
          MaxAttempts: 5
          BackoffRate: 2
          IntervalSeconds: 15
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: CheckFail
    ChoicePythonVersion:
      Type: Choice
      Choices:
        - Variable: $.python_version
          StringEquals: "p3.12"
          Next: Build312
        - Variable: $.python_version
          StringEquals: "p3.13"
          Next: Build313
        - Variable: $.python_version
          StringEquals: "p3.14"
          Next: Build314
        - Variable: $.python_version
          StringEquals: "p3.12-arm64"
          Next: Build312arm64
        - Variable: $.python_version
          StringEquals: "p3.13-arm64"
          Next: Build313arm64
        - Variable: $.python_version
          StringEquals: "p3.14-arm64"
          Next: Build314arm64
      Default: UnknownPythonVersion
    Build312:
      Type: Task
      Resource:
        Fn::GetAtt: [Build312LambdaFunction, Arn]
      Next: Deploy
      Retry:
        - ErrorEquals:
          - Lambda.AWSLambdaException
          - States.Timeout
          - Lambda.ClientExecutionTimeoutException
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.TooManyRequestsException
          MaxAttempts: 5
          BackoffRate: 2
          IntervalSeconds: 15
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: BuildFail
    Build313:
      Type: Task
      Resource:
        Fn::GetAtt: [Build313LambdaFunction, Arn]
      Next: Deploy
      Retry:
        - ErrorEquals:
          - Lambda.AWSLambdaException
          - States.Timeout
          - Lambda.ClientExecutionTimeoutException
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.TooManyRequestsException
          MaxAttempts: 5
          BackoffRate: 2
          IntervalSeconds: 15
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: BuildFail
    Build314:
      Type: Task
      Resource:
        Fn::GetAtt: [Build314LambdaFunction, Arn]
      Next: Deploy
      Retry:
        - ErrorEquals:
          - Lambda.AWSLambdaException
          - States.Timeout
          - Lambda.ClientExecutionTimeoutException
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.TooManyRequestsException
          MaxAttempts: 5
          BackoffRate: 2
          IntervalSeconds: 15
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: BuildFail
    Build312arm64:
      Type: Task
      Resource:
        Fn::GetAtt: [Build312Arm64LambdaFunction, Arn]
      Next: Deploy
      Retry:
        - ErrorEquals:
          - States.Timeout
          - Lambda.ClientExecutionTimeoutException
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.TooManyRequestsException
          MaxAttempts: 5
          BackoffRate: 2
          IntervalSeconds: 15
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: BuildFail
    Build313arm64:
      Type: Task
      Resource:
        Fn::GetAtt: [Build313Arm64LambdaFunction, Arn]
      Next: Deploy
      Retry:
        - ErrorEquals:
          - States.Timeout
          - Lambda.ClientExecutionTimeoutException
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.TooManyRequestsException
          MaxAttempts: 5
          BackoffRate: 2
          IntervalSeconds: 15
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: BuildFail
    Build314arm64:
      Type: Task
      Resource:
        Fn::GetAtt: [Build314Arm64LambdaFunction, Arn]
      Next: Deploy
      Retry:
        - ErrorEquals:
          - States.Timeout
          - Lambda.ClientExecutionTimeoutException
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.TooManyRequestsException
          MaxAttempts: 5
          BackoffRate: 2
          IntervalSeconds: 15
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: BuildFail
    Deploy:
      Type: Task
      Resource:
        Fn::GetAtt: [DeployLambdaFunction, Arn]
      Next: Done
      Retry:
        - ErrorEquals:
          - States.Timeout
          - Lambda.AWSLambdaException
          - States.Timeout
          - Lambda.ClientExecutionTimeoutException
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.TooManyRequestsException
          MaxAttempts: 2
          BackoffRate: 30
          IntervalSeconds: 60
      Catch:
        - ErrorEquals:
          - States.ALL
          Next: DeployFail
    Done:
      Type: Succeed
    CheckFail:
      Type: Fail
      Error: CheckFailure
      Cause: Unknown
    BuildFail:
      Type: Fail
      Error: BuildFailure
      Cause: Unknown
    DeployFail:
      Type: Fail
      Error: DeployFailure
      Cause: Unknown
    UnknownPythonVersion:
      Type: Fail
      Error: UnknownPythonVersion
      Cause: UnknownPythonVersion
notifications:
  ABORTED:
    - lambda:
        Fn::GetAtt: [SlackUnderscorepipelineLambdaFunction, Arn]
  FAILED:
    - lambda:
        Fn::GetAtt: [SlackUnderscorepipelineLambdaFunction, Arn]
  TIMED_OUT:
    - lambda:
        Fn::GetAtt: [SlackUnderscorepipelineLambdaFunction, Arn]
events:
- eventBridge:
    event:
      source:
        - Klayers.invoke.${self:provider.stage}
      detail-type:
        - "invoke_pipeline"
